
// Modal

  .modal{
    background-color:rgba(255, 255, 255, 0);
    height: 100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto; 
    
  }
  .modal-body{
    margin:5% auto;
    display: inline-block;
  }
  .login-container{
    display: inline-block
  }
