
ul, li {
  margin:0; 
  padding:0; 
  list-style:none;
}

.nav-dropdown {
  position:relative;
  display: inline-block;
}

.nav-dropdown-content {
  position:absolute;
  right: 0;
  display:none;
  min-width: 130px;
  padding: 8px 0px 0px 0px;
}

.nav-down {
  background-color: #302f2f00;
  min-width: 160px;
  display: inline-block;
}

.nav-down a {
  color:#FFFFFF; 
  text-decoration:none; 
  padding:10px; 
  display:block;
}

.nav-down a:hover {
  padding:10px;
  font-weight:bold;
  color: #F00880;
}

.test1{
  width: 100%;
}