
ul, li {
  margin:0; 
  padding:0; 
  list-style:none;
}

.nav-dropdown {
  position:relative;
  display: inline-block;
}

.nav-dropdown-content {
  position:absolute;
  right: 0;
  display:none;
  min-width: 160px;
  border: 1px solid #1c1c1c;
}

.nav-down {
  background-color: #302f2f;
  min-width: 160px;
}

.nav-down a {
  color:#FFFFFF; 
  text-decoration:none; 
  padding:10px; 
  display:block;
}

.nav-down a:hover {
  padding:10px;
  font-weight:bold;
  color: #F00880;
}
#btn-modal-in #btn-modal-up{
  width: 100%;
}